<apex:page standardController="Opportunity" extensions="ReceiptMakerCls" action="{!newReceipt}">
	<apex:outputPanel rendered="{!hasError}">
        <apex:pageMessage severity="error" strength="2" summary="{!errorMsg}"    />
        <h1>Click <apex:outputLink value="/{!$CurrentPage.parameters.id}"> Here </apex:outputLink> to return to Opportunity</h1>
    </apex:outputPanel>
    
</apex:page>