/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .sf-hide {
     display: none !important;
 }

  .sf-form {font-family: "Heebo", Sans-serif; position: relative;}
  .sf-form {display: flex; flex-direction: column; justify-content: center; align-items: stretch; gap: 10px;}
  .sf-form .sf-form-fields {display: flex; flex-direction: column; justify-content: center; align-items: stretch; gap: 10px; width: 100%;}
  .sf-form .has-error {border: 1px solid red;}
  .sf-form .sf-label {display: inline-block; margin-bottom: 3px;}
  .sf-row {display: flex;flex-flow: row wrap;gap: 10px;}

  form.sf-form input, form.sf-form textarea, form.sf-form select {background: transparent; font-weight: 400; }
  form.sf-form input, form.sf-form textarea, form.sf-form select, form.sf-form button {border-radius: 0; min-width: 120px;}
  form.sf-form input:disabled, form.sf-form textarea:disabled, form.sf-form select:disabled {background: #eaeaea;}
  .sf-row .sf-field {flex: 1;min-width: 200px; }
  .sf-form input, .sf-form button, .sf-form select {height: 47px;}
  .sf-form .sf-label {display: none;}
  .sf-form .sf-row {display: flex;flex-flow: row nowrap;gap: 10px;}
  .sf-form .sf-row.sf-row-collapse {flex-flow: row wrap;}
  .sf-form .sf-form-section {flex: 1;width: 100%;}
  .sf-row .sf-field {flex: 1;min-width: 200px; text-align: start;}
  .sf-form-errors {color: red;}
  .sf-submit-errors {color: red;}
  .sf-field-title {margin-bottom: 2px; display: inline-block; font-size: 18px;}
  .sf-field-comment {font-size: 14px;}

  .sf-form:not(.loading) .sf-loader {display: none!important;}
  .sf-form-section-title {margin: 30px 0 10px;}

  .sf-event-form.sf-no-cost {background: var( --e-global-color-accent ); padding: 20px;}
  .sf-event-form.sf-no-cost input {background: white; border: none; font-weight: 400;}
  .sf-event-form.sf-no-cost .sf-form-fields {flex-flow: row nowrap;}
  .sf-event-form.sf-no-cost .sf-field {flex: 1;}
  .sf-event-form.sf-no-cost button {flex: 0; border: 3px solid white; flex: 0.25;}
  .sf-event-form.sf-no-cost .sf-form-errors {color: white;}
  .sf-event-form.sf-no-cost .sf-response.sf-success {color: white;}

  .sf-pay-wrapper {position: relative;}
  .sf-loader {
   position: absolute;
   top: 0; left: 0; right: 0; bottom: 0;
   background: #ffffff88;
   display: flex;
   justify-content: center;
   align-items: center;
  }
 .sf-loader .sf-loader-anim {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  .sf-login-wrapper {min-height: 100px;}
  .sf-login-wrapper .sf-loader {zoom: 0.6;}


.sf-form .sf-primary {
  width: 100%;
  background-color: var( --e-global-color-accent );
  border-width: 0;
  color: white;
  font-weight: 500;
}

.sf-form .sf-primary:hover, .sf-form .sf-primary:focus {background-color: var( --e-global-color-primary ); border-color: var( --e-global-color-primary );}

.sf-signup .sf-submit {
  margin-top: 10px;
}



.sf-response {
  margin-top: 5px;
  font-size: 18px;
}

.sf-response.sf-failure {
  color: red;
}
.sf-response.sf-success {
  color: green;
}

.jet-calendar-caption__wrap .jet-calendar-nav__link {transform: scale(-1);}


.sldg-form .sldg-page-errors {margin-top: 15px;}
.sldg-page-errors {display: flex; flex-direction: column; padding: 10px;background: #ffe6e6}
.sldg-main-error {display: flex; align-items: center; font-size: 20px;gap: 10px; font-weight: 500; color: #990000;fill: #f44336;}
.sldg-errors-list {font-size: 16px; max-height: 100px; overflow: auto;}

.sf-update-details {margin-bottom: 50px;}

.sf-accordion {display: flex; flex-direction: column; align-items: stretch; margin-bottom: 15px;}
.sf-accordion {display: flex; flex-direction: column; align-items: stretch; margin-bottom: 15px;}
.sf-accordion .sf-accordion-trigger {border-color: #040D1B; color: #040D1B; position: relative;}
.sf-accordion .sf-accordion-trigger::before {
  border-style: solid; border-width: 3px 3px 0 0; content: ''; display: inline-block;
  height: 13px; width: 13px; transform: rotate(-135deg);
  vertical-align: top; position: absolute; top: calc(50% - 6px); left: 15px;
}
.sf-accordion.open .sf-accordion-trigger::before {transform: rotate(135deg);}
.sf-accordion.open .sf-accordion-trigger, .sf-accordion .sf-accordion-trigger:hover, .sf-accordion .sf-accordion-trigger:focus {background-color: #040D1B; color: white; border-radius: 0; font-weight: bold;}
.sf-accordion .sf-accordion-content {border: 1px solid #d1d3d6; border-top: none; padding: 10px 40px 40px; margin-bottom: 20px; display: none;}
.sf-accordion.open .sf-accordion-content {display: block;}
.sf-center {text-align: center; font-size: 20px; font-weight: 500;}

.sf-login-msg {color: var( --e-global-color-accent ); font-size: 16px; font-weight: 500; line-height: 2em;}
.ui-datepicker .ui-datepicker-year {padding: 8px;}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}